<section class="card">
  <a href="/post/{{id}}">
    <header>{{title}}</header>
    <p>{{contents}}</p>
    <p>Author: {{user.username}}</p>
    <p>Date Created: {{format_date date_created}}</p>
  </a>
</section>